<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.StudentCourse.mapper.AdminMapper">
    <insert id="addTeacherCourse">
        INSERT INTO class(semester, course_id, staff_id, class_time, class_id,max_number, cur_number)
        VALUES(#{semester}, #{courseId}, #{staffId}, #{classTime}, #{classId}, #{maxStudents}, 0)
    </insert>

    <select id="showStudentWithFilters" resultType="com.example.StudentCourse.pojo.Student">
        SELECT
        s.student_id,
        s.name,
        s.sex,
        s.date_of_birth,
        s.native_place,
        s.mobile_phone,
        d.dept_name
        FROM student s
        JOIN department d ON s.dept_id = d.dept_id
        <where>
            <if test="studentId != null and studentId != ''">
                AND s.student_id = #{studentId}
            </if>
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="sex != null and sex != ''">
                AND s.sex = #{sex}
            </if>
            <if test="dateOfBirth != null and dateOfBirth != ''">
                AND s.date_of_birth = #{dateOfBirth}
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                AND s.native_place LIKE CONCAT('%', #{nativePlace}, '%')
            </if>
            <if test="mobilePhone != null and mobilePhone != ''">
                AND s.mobile_phone LIKE CONCAT('%', #{mobilePhone}, '%')
            </if>
            <if test="deptName != null and deptName != ''">
                AND d.dept_name LIKE CONCAT('%', #{deptName}, '%')
            </if>
        </where>
    </select>

    <select id="showCourseSelectionWithFilters" resultType="com.example.StudentCourse.pojo.CourseSelection">
        SELECT
        cs.student_id,
        s.name,
        c.course_id,
        c.course_name,
        cs.class_id,
        cs.staff_id,
        t.name as staff_name,
        c.credit,
        cl.class_time
        FROM course_selection cs
        JOIN course c ON cs.course_id = c.course_id
        JOIN teacher t ON cs.staff_id = t.staff_id
        JOIN student s ON cs.student_id = s.student_id
        JOIN class cl ON cs.course_id = cl.course_id AND cs.class_id = cl.class_id
        <where>
            <if test="semester != null and semester != ''">
                AND cs.semester = #{semester}
            </if>
            <if test="studentId != null and studentId != ''">
                AND cs.student_id = #{studentId}
            </if>
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="courseId != null and courseId != ''">
                AND c.course_id = #{courseId}
            </if>
            <if test="courseName != null and courseName != ''">
                AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="classId != null and classId != ''">
                AND cs.class_id = #{classId}
            </if>
            <if test="staffId != null and staffId != ''">
                AND cs.staff_id = #{staffId}
            </if>
            <if test="staffName != null and staffName != ''">
                AND t.name LIKE CONCAT('%', #{staffName}, '%')
            </if>
            <if test="credit != null and credit != ''">
                AND c.credit = #{credit}
            </if>
            <if test="classTime != null and classTime != ''">
                AND cl.class_time = #{classTime}
            </if>
        </where>
        ORDER BY cs.student_id
    </select>

    <select id="showTeacherWithFilters" resultType="com.example.StudentCourse.pojo.Teacher">
        SELECT
        t.staff_id,
        t.name,
        t.sex,
        t.date_of_birth,
        t.professional_ranks,
        t.salary,
        d.dept_name
        FROM teacher t
        JOIN department d ON t.dept_id = d.dept_id
        <where>
            <if test="staffId != null and staffId != ''">
                AND t.staff_id = #{staffId}
            </if>
            <if test="name != null and name != ''">
                AND t.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="sex != null and sex != ''">
                AND t.sex = #{sex}
            </if>
            <if test="dateOfBirth != null and dateOfBirth != ''">
                AND t.date_of_birth = #{dateOfBirth}
            </if>
            <if test="professionalRanks != null and professionalRanks != ''">
                AND t.professional_ranks LIKE CONCAT('%', #{professionalRanks}, '%')
            </if>
            <if test="salary != null and salary != ''">
                AND t.salary = #{salary}
            </if>
            <if test="deptName != null and deptName != ''">
                AND d.dept_name LIKE CONCAT('%', #{deptName}, '%')
            </if>
        </where>
    </select>

    <select id="showTeachClass" resultType="com.example.StudentCourse.pojo.Classes">
        SELECT
        cl.staff_id,
        t.name,
        cl.course_id,
        c.course_name,
        cl.class_id,
        cl.class_time
        FROM class cl
        JOIN course c ON cl.course_id = c.course_id
        JOIN teacher t ON cl.staff_id = t.staff_id
        <where>
            <if test="semester != null and semester != ''">
                AND cl.semester = #{semester}
            </if>
            <if test="staffId != null and staffId != ''">
                AND cl.staff_id = #{staffId}
            </if>
            <if test="name != null and name != ''">
                AND t.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="courseId != null and courseId != ''">
                AND c.course_id = #{courseId}
            </if>
            <if test="courseName != null and courseName != ''">
                AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="classId != null and classId != ''">
                AND cl.class_id = #{classId}
            </if>
            <if test="classTime != null and classTime != ''">
                AND cl.class_time = #{classTime}
            </if>

        </where>
        ORDER BY cl.staff_id
    </select>

    <select id="getAllCourses" resultType="com.example.StudentCourse.pojo.Course">
        SELECT
        c.course_id,
        c.course_name
        FROM course c
        <where>
            <if test="courseId != null and courseId != ''">
                AND c.course_id = #{courseId}
            </if>
        </where>
    </select>

    <select id="getTeacherCourse" resultType="com.example.StudentCourse.pojo.Classes">
        SELECT
        cl.course_id,
        c.course_name,
        cl.class_id,
        cl.class_time
        FROM class cl
        JOIN course c ON cl.course_id = c.course_id
        WHERE cl.staff_id = #{staffId} AND cl.semester = #{semester}
    </select>

    <select id="showOriginCourseWithFilters" resultType="com.example.StudentCourse.pojo.Course">
        SELECT
        c.course_id,
        c.course_name,
        c.credit,
        c.credit_hours,
        d.dept_name
        FROM course c
        JOIN department d ON c.dept_id = d.dept_id
        <where>
            <if test="courseId != null and courseId != ''">
                AND c.course_id = #{courseId}
            </if>
            <if test="courseName != null and courseName != ''">
                AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="credit != null and credit != ''">
                AND c.credit = #{credit}
            </if>
            <if test="creditHours != null and creditHours != ''">
                AND c.credit_hours = #{creditHours}
            </if>
            <if test="deptName != null and deptName != ''">
                AND d.dept_name LIKE CONCAT('%', #{deptName}, '%')
            </if>
        </where>
    </select>


</mapper>