<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.StudentCourse.mapper.StudentMapper">
<!--    向选课表中插入数据-->
    <insert id="choose">
        INSERT INTO course_selection (class_id, student_id, semester, course_id, staff_id)
        SELECT c.class_id, #{studentId}, #{semester}, #{courseId}, #{staffId}
        FROM class c
        WHERE c.course_id = #{courseId}
        AND c.staff_id = #{staffId}
        AND c.semester = #{semester}
        AND c.class_time = #{classTime}
    </insert>


    <!--    查找课程信息-->
    <select id="showClassWithFilters" resultType="com.example.StudentCourse.pojo.Classes">
        SELECT
        c.semester,
        c.course_id,
        co.course_name,
        c.staff_id,
        t.name,
        c.class_time
        FROM class c
        JOIN course co ON c.course_id = co.course_id
        JOIN teacher t ON c.staff_id = t.staff_id
        <where>
            <if test="semester != null and semester != ''">
                AND c.semester = #{semester}
            </if>
            <if test="courseId != null and courseId != ''">
                AND c.course_id = #{courseId}
            </if>
            <if test="courseName != null and courseName != ''">
                AND co.course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="staffId != null and staffId != ''">
                AND c.staff_id = #{staffId}
            </if>
            <if test="name != null and name != ''">
                AND t.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="classTime != null and classTime != ''">
                AND c.class_time LIKE CONCAT('%', #{classTime}, '%')
            </if>
        </where>
    </select>

<!--    查找选课信息-->
    <select id="showSelection" resultType="com.example.StudentCourse.pojo.CourseSelection">
        SELECT
        cs.student_id,
        cs.semester,
        cs.course_id,
        c.course_name,
        cs.staff_id,
        t.name AS staff_name,
        c.credit,
        cl.class_time, -- 从 class 表中获取 class_time
        cs.normal_score,
        cs.test_score,
        cs.total_score,
        cs.GPA
        FROM
        course_selection cs
        JOIN course c ON cs.course_id = c.course_id
        JOIN teacher t ON cs.staff_id = t.staff_id
        JOIN class cl ON cs.course_id = cl.course_id AND cs.class_id = cl.class_id -- 确保课程和班级关联正确
        WHERE
        cs.student_id = #{studentId} -- 筛选指定学生
        <if test="semester != null and semester != ''">
            AND cs.semester = #{semester} -- 根据传入的学期进行筛选
        </if>
    </select>


    <select id="getByStudentIdandSemester" resultType="com.example.StudentCourse.pojo.CourseSelection">
        SELECT
          cs.student_id,
          cs.semester,
          cs.course_id,
          cs.staff_id,
          cl.class_time
        FROM
          course_selection cs
        JOIN
          class cl ON cs.course_id = cl.course_id AND cs.class_id = cl.class_id -- 确保课程和班级关联正确
        WHERE
          cs.student_id = #{studentId}
          AND cs.semester = #{semester}
    </select>

    <select id="selectInfo" resultType="com.example.StudentCourse.pojo.Student">
        SELECT s.student_id, s.name, s.sex, s.date_of_birth, s.native_place, s.mobile_phone, d.dept_name
        FROM student s
        JOIN department d ON s.dept_id = d.dept_id
        WHERE s.student_id = #{studentId}
    </select>

<!--    查看通知列表-->
    <select id="showEmailList" resultType="com.example.StudentCourse.pojo.Email">
        SELECT
        e.semester,
        t.name as staff_name,
        c.course_name,
        e.class_id,
        e.header,
        e.content,
        e.send_time
        FROM
        email e
        JOIN
        course c ON e.course_id = c.course_id
        JOIN
        teacher t ON e.staff_id = t.staff_id
        WHERE
        e.student_ids LIKE CONCAT('%,', #{studentId}, ',%')
        OR e.student_ids LIKE CONCAT(#{studentId}, ',%')
        OR e.student_ids LIKE CONCAT('%,', #{studentId})
        OR e.student_ids = #{studentId};
    </select>



</mapper>
